// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// video container css

  .videoContainer {
    height: 220px;
    background-color: #DB70DB;
    padding: 10px 30px 30px 30px;
    margin: 0;
    margin-bottom: 30px;

    -webkit-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
  }

  iframe {
    width: 98%;
  }

  .videoContainer:hover {
    background-color: #EE82EE;
  }

  #homeH1 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 3px solid #454545;
    width: 98%;
    position: relative;
    left: -3px;
  }

  .vidOfDay {
    position: relative;
    top: 10px;
    left: -1px;
  }

  // confucius container css

  .confContainer {
    height: 174px;
    background-color: #66CCCC;
    padding: 10px 30px 30px 30px;
    margin-bottom: 30px;

    -webkit-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
  }

  .confContainer:hover {
    background-color: #77eeee;
  }

  // icon
  .confucius {
    position: relative;
    top: 10px;
  }

  #confH1 {
    font-size: 22px;
    position: relative;
    margin: 0;
    padding: 0;
    top: 5px;
    left: -6px;
  }

  .confSpan {
    position: relative;
    left: 5px;
  }

  .confScroll {
    position: relative;
    top: -5px;
    height: 100px;
    margin-top: 25px;
    overflow: hidden;
    overflow-y: auto;
  }


  // animal container css

  .animalContainer {
    height: 270px;
    background-color: #2E8B57;
    padding: 10px 30px 30px 30px;
    margin-bottom: 30px;

    -webkit-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
  }

  .animalContainer:hover {
    background-color: #50C878;
  }

  .animalH1 {
    position: relative;
    position: relative;
    margin: 0;
    padding: 0;
    top: 5px;
    left: -6px;
  }

  .aniSpan {
    font-size: 22px;
    position: relative;
    left: 3px;
  }

  .animal {
    position: relative;
    top: 10px;
  }

  .animalScroll {
    height: 175px;
    margin-top: 15px;
    overflow: hidden;
    overflow-y: auto;
  }


 // english proverb container css
  .provContainer {
    height: 150px;
    background-color: #fcfc75;
    padding: 10px 30px 30px 30px;
    margin-bottom: 30px;

    -webkit-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
  }

  .provContainer:hover {
    background-color: #FDFD96;
  }

  .proverb {
    position: relative;
    top: 5px;
    left: -8px;
  }

  .provH1 {
    position: relative;
    margin: 0;
    padding: 0;
    top: 5px;
    width: 300px;
  }

  .provSpan {
    position: relative;
    font-size: 22px;
    left: 0px;
  }

  .provScroll {
    position: relative;
    top: -5px;
    height: 90px;
    overflow: hidden;
    overflow-y: auto;
  }


  // chuck norris container css

  .chuckContainer {
    height: 100px;
    background-color: #6961ff;
    padding: 10px 30px 30px 30px;
    margin-bottom: 30px;

    -webkit-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
  }

  .chuckContainer:hover {
    background-color: #766ffd;
  }

  .chuckSpan {
    font-size: 22px;
    position: relative;
    top: -3px;
    left: 4px;
  }

  .chuck {
    position: relative;
    top: 0;
    left: -1px;
  }

  .chuckH1 {
    position: relative;
    margin: 0;
    padding: 0;
    top: 15px;
    left: -2px;
  }

  .chuckScroll {
    position: relative;
    top: 0px;
    height: 40px;
    overflow: hidden;
    overflow-y: auto;
  }


// Socrates Container

  .lifeContainer {
    height: 165px;
    background-color: #0BB5FF;
    padding: 10px 30px 30px 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
  }

  .lifeContainer:hover {
    background-color: #42C0FB;
  }

  .thinker {
    position: relative;
    top: 5px;
  }

  .factsSpan {
    font-size: 22px;
    position: relative;
    left: 10px;
  }

  .lifeScroll {
    position: relative;
    top: -5px;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
  }

  .socH1 {
    position: relative;
    margin: 0;
    padding: 0;
    top: 5px;
  }


// Haiku Container

  .sudokuContainer {
    text-align: center;
    line-height: 2em;
    height: 210px;
    background-color: #FF7F24;
    padding: 10px 30px 30px 30px;
    margin-bottom: 30px;

    -webkit-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
  }

  .sudokuContainer:hover {
    background-color: #fa9146;
  }

// lotus flower image
  .sudo {
    opacity: 0.8;
  }

  #haikuP {
    position: relative;
    left: -29px;
    width: 125%;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 0;
  }

  .gameH1 {
    font-size: 22px;
    position: relative;
    top: 10px;
    left: -4px;
    text-align: center;
  }


// star wars container css

  .starWarsContainer {
    height: 590px;
    background-color: #77DD77;
    padding: 10px 30px 30px 30px;
    margin-bottom: 30px;

    -webkit-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
  }

  .starWarsContainer:hover {
    background-color: #83f383;
  }

  // starwars logo
  .starWars {
    position: relative;
    top: 530px;
    left: 68%;
  }

  .starWarsContent {
    position: relative;
    top: -100px;
  }

  #hTest {
    position: relative;
    top: 7px;
    font-size: 22px;
    border-bottom: 3px solid #454545;
    // padding-bottom: 2px;
    margin-bottom: 0;

  }

  #sWarsFilms {
    font-size: 18px;
    padding-bottom: 2px;
  }

  .filmDiv {
    position: relative;
    top: 0px;
  }

  .sWarsFilms {
    height: 140px;
    overflow: hidden;
    overflow-y: auto;
  }

  .starScroll {
    position: relative;
    top: 5px;
    height: 360px;
    overflow: hidden;
    overflow-y: auto;
  }

  #sWarsFilms {
    // border-bottom: 3px solid #454545;
    position: relative;
    margin-bottom: 0;
  }

  .filmScroll {
    position: relative;
    top: -2px;
    height: 90px;
    overflow: hidden;
    overflow-y: auto;
  }


  // pokemon container css

  .pokeContainer {
    height: 70px;
    background-color: #66CCCC;
    padding: 10px 30px 30px 30px;
    margin-bottom: 30px;

    -webkit-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
  }

  .pokeContainer:hover {
    background-color: #77eeee;
  }

  .pokeball {
    position: relative;
    top: 2px;
    left: -22px;
  }

  .pokeContent{
    position: relative;
    top: -55px;
    left: 50px;
  }

  #hPoke {
    font-size: 22px;
    width: 220px;
    position: relative;
    left: -10px;
  }

  #pokeContent {
    position: relative;
    top: -10px;
  }


  // PBS/Nova container css

  .educationalVidContainer {
    height: 260px;
    background-color: #FF6666;
    padding: 10px 30px 30px 30px;
    margin-bottom: 30px;

    -webkit-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
    box-shadow: 10px 12px 17px -4px rgba(0,0,0,0.42);
  }

  .educationalVidContainer:hover {
    background-color: #fd7c7c;
  }

  .bulb {
    position: relative;
    top: 2px;
    left: -5px;
  }

  #smartH1 {
    font-size: 22px;
    padding-bottom: 8px;
    border-bottom: 3px solid #454545;
    width: 98%;
    top: 5px;
    // left: 2px;
    text-align: center;
  }

  .smartVid {
    position: relative;
    top: 20px;
    left: 3px;
  }

// juggling brain icon
  .brain {
    position: relative;
    top: -40px;
    left: 75%;
  }



// media queries

@media (min-width: 400px) {
  .grid {
    position: relative;
      margin: auto;
      padding: 0px;
      top: 170px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 79%;
  }

  .grid-item {
    width: 77%;
    max-width: 260px;
  }

  .animalContainer {
    height: 270px;
  }

  .animalScroll {
    height: 175px;
  }
}

@media (min-width: 450px) {
  .grid {
    position: relative;
      margin: auto;
      padding: 0px;
      top: 170px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 76%;
  }

  .grid-item {
    width: 260px;
  }

  .animalContainer {
    height: 270px;
  }

  .animalScroll {
    height: 175px;
  }
}

@media (min-width: 500px) {
  .grid {
    position: relative;
      margin: auto;
      padding: 0px;
      top: 170px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 70%;
  }

  .grid-item {
    width: 260px;
  }

  .animalContainer {
    height: 270px;
  }

  .animalScroll {
    height: 175px;
  }
}

@media (min-width: 550px) {
  .grid {
    position: relative;
      margin: auto;
      padding: 0px;
      top: 170px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 63%;
  }

  .grid-item {
    width: 260px;
  }

  .animalContainer {
    height: 270px;
  }

  .animalScroll {
    height: 175px;
  }
}

@media (min-width: 600px) {
  .grid {
    position: relative;
      margin: auto;
      padding: 0px;
      top: 170px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 57%;
  }

  .grid-item {
    width: 260px;
  }

  .animalContainer {
    height: 270px;
  }

  .animalScroll {
    height: 175px;
  }
}

@media (min-width: 650px) {
  .grid {
    position: relative;
      margin: auto;
      padding: 0px;
      top: 170px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 53%;
  }

  .grid-item {
    width: 260px;
  }

  .animalContainer {
    height: 270px;
  }

  .animalScroll {
    height: 175px;
  }
}

// start 2 columns
@media (min-width: 700px) {

  .grid {
    position: relative;
      margin: auto;
      padding: 0px;
      top: 170px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 88%;

      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }

  .grid-item {
    width: 77%;
    max-width: 260px;
  }

  .animalContainer {
    height: 135px;
  }

  .animalScroll {
    height: 65px;
  }
}

@media (min-width: 750px) {
  .grid {
    position: relative;
      margin: auto;
      padding: 0px;
      top: 170px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 90%;

      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }

  .grid-item {
    width: 260px;
  }

  .animalContainer {
    height: 135px;
  }

  .animalScroll {
    height: 65px;
  }
}

@media (min-width: 800px) {
  .grid {
    position: relative;
      margin: auto;
      padding: 0px;
      top: 170px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 88%;

      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }

  .grid-item {
    width: 260px;
  }

  .animalContainer {
    height: 135px;
  }

  .animalScroll {
    height: 65px;
  }
}

@media (min-width: 850px) {
  .grid {
    position: relative;
      margin: auto;
      padding: 0px;
      top: 170px;
      right: 0px;
      bottom: 0px;
      left: 10px;
      width: 87%;

      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }

  .grid-item {
    width: 260px;
  }

  .animalContainer {
    height: 135px;
  }

  .animalScroll {
    height: 65px;
  }
}

@media (min-width: 900px) {
  .grid {
    position: relative;
      margin: auto;
      padding: 0px;
      top: 170px;
      right: 0px;
      bottom: 0px;
      left: 6px;
      width: 80%;

      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }

  .grid-item {
    width: 260px;
  }

  .animalContainer {
    height: 135px;
  }

  .animalScroll {
    height: 65px;
  }
}

@media (min-width: 950px) {
  .grid {
    position: relative;
      margin: auto;
      padding: 0px;
      top: 170px;
      right: 0px;
      bottom: 0px;
      left: 12px;
      width: 79%;
      height: 1600px;

      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }

  .grid-item {
    width: 260px;
  }

  .animalContainer {
    height: 135px;
  }

  .animalScroll {
    height: 65px;
  }
}

// start 3 columns

@media (min-width: 1000px) {
  .grid {
    position: relative;
      margin: auto;
      padding: 0px;
      top: 170px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 95%;
      height: 1000px;

      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }

  .grid-item {
    width: 77%;
    max-width: 260px;
  }

  .animalContainer {
    height: 270px;
  }

  .animalScroll {
    height: 175px;
  }

  // juggling brain icon
    .brain {
      position: relative;
      top: -120px;
      left: 75%;
    }
}

@media (min-width: 1200px) {
  .grid {
    position: relative;
      margin: auto;
      padding: 0px;
      top: 170px;
      right: 0px;
      bottom: 0px;
      left: 3px;
      width: 1055px;
      height: 1000px;

      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
  }

  .grid-item {
    width: 260px;
  }

  .animalContainer {
    height: 270px;
  }

  .animalScroll {
    height: 175px;
  }

  // juggling brain icon
    .brain {
      position: relative;
      top: -120px;
      left: 75%;
    }
}
